<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

<% if @user.password_required? %>
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
<% end %>

  <p><%= f.submit "Sign up" %></p>
<% end %>


<%= render :partial => "devise/shared/links" %>

<hr/>
<a href="/auth/twitter">
	<%= image_tag "twitter_64.png", :size => "64x64",:alt => "Twitter"%>
</a>
<a href="/auth/linkedin" >
	<%= image_tag "linkedin_64.png", :size => "64x64", :alt => "LinkedIn" %>
</a>